CompileFlags:
    Remove:
        [
            -fno-tree-switch-conversion,
            -mtext-section-literals,
            -fstrict-volatile-bitfields,
            -mlong-calls,
            -fno-shrink-wrap,
            -march=rv32imc_zicsr_zifencei,
        ]

